*{
    margin: 0;
    padding: 0;
}
html,body{
    font-family: 'OpenSans-Regular';
    width: 100%;
    height: 100%;
}

:root{
    --black : #000000;
    --white : #ffffff;
    --orange:#f94c30;
}

/******************************* common_css *******************************/
h1,h2,h3,h4,h5,h6,ul,p{
    margin: 0;
    padding: 0;
}
.cust_container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}
.common_space{
    padding: 50px 0;
}
/******************************* end_common_css *******************************/

/******************************* header_section_css *******************************/
.header_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header_section{
    padding: 20px 0;
    position: relative;
    border-bottom: 1px solid #FFFFFF2E;
}
.header_section::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #111111;
    opacity: 0.2;
}
.header_content{
    position: relative;
    z-index: 1;
}
.logo h3{
    font-family: 'OpenSans-SemiBold';
    color: var(--orange);
    letter-spacing: 3px;
    margin: 0;
}
.header_menu ul{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header_menu ul li{
    list-style-type: none;
}
.header_menu ul li a{
    font-family: 'OpenSans-Medium';
    text-decoration: none;
    color: var(--white);
    text-transform: uppercase;
    margin: 0 40px 0 0;
    transition: all .5s;
}
.header_menu ul li a:hover{
    color: var(--orange);
}
.social_icons ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.social_icons ul li{
    list-style-type: none;
    margin: 0 20px 0 0;
}
.social_icons_img{
    width: 18px;
}
.sign_up_btn a{
    font-family: 'OpenSans-Bold';
    text-decoration: none;
    color: var(--white);
    background-color: var(--orange);
    display: inline-block;
    padding: 10px 22px;
    border-radius: 6px;
    text-transform: uppercase;
    font-size: 14px;
    transition: all .5s;
}
.sign_up_btn a:hover{
    color: var(--white);
    background-color: #b4260f;
}
.toggle_btn{
    width: 30px;
    cursor: pointer;
    display: none;
}
.close_menu{
    width: 30px;
    display: none;
}
/******************************* header_section_css *******************************/

/******************************* hero_section_css *******************************/
.hero_section{
    width: 100%;
    height: auto;
    background-image: url("../img/bg-banner.jpg");
    background-position: center;
    background-size: cover;
}
.hero_content{
    padding: 80px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero_left_text h1{
    font-family: 'OpenSans-Bold';
    text-transform: uppercase;
    color: var(--white);
    font-size: 55px;
    margin: 0;
}
.hero_left_text h2{
    font-family: 'OpenSans-Bold';
    color: var(--white);
    font-size: 38px;
    width: 100%;
    max-width: 800px;
}
.hero_right_content{
    background-color: #0000007A;
    padding: 40px 20px;
    border-radius: 8px;
    text-align: center;
    display: inline-block;
    column-gap: 20px;
}

.gender_choice_btn a{
    font-family: 'OpenSans-Bold';
    display: block;
    border-width: 2px;
    border-radius: 15px;
    padding: 16px 26px;
    color: var(--white);
    text-decoration: none;
    border-style: solid;
    background-color: #191E23;
    font-size: 16px;
    margin-bottom: 20px;
}
.gender_choice_btn a:hover{
    color: var(--white);
}
.gender_choice_btn a:first-child{
    border-color: var(--orange);
}
.gender_choice_btn a:last-child{
    border-color: #0080FF;
    margin-bottom: 0;
}

.hero_right_content h3{
    font-family: 'OpenSans-Bold';
    font-size: 32px;
    color: var(--white);
    margin-bottom: 20px;
}
/******************************* end_hero_section_css *******************************/


/******************************* index_second_section_css *******************************/
.index_second_title h3{
    font-family: 'OpenSans-Bold';
    text-align: center;
    text-transform: uppercase;
    color: #FB3C6C;
    font-size: 38px;
}
.people_section{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    column-gap: 20px;
    row-gap: 10px;
}
.people_section_box{
    position: relative;
}
.people_section_box img{
    border-radius: 20px;
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.people_section_box a{
    font-family: 'OpenSans-Bold';
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    background-color: var(--orange);
    border-radius: 10px;
    padding: 10px 10px;
    text-transform: uppercase;
    color: var(--white);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}
.people_section_box span{
    font-family: 'OpenSans-Bold';
    background-color: var(--orange);
    border-radius: 6px;
    display: inline-block;
    color: var(--white);
   font-size: 10px;
    padding: 2px 10px;
    position: absolute;
    top: 10px;
    left: 9px;
}
.people_section_box a:hover{
    color: var(--white);
}
.people_section_box a img{
    width: 20px;
    height: auto !important;
    margin-right: 2px;
}
.people_main_box h4{
    font-family: 'OpenSans-Bold';
    text-align: center;
    text-transform: uppercase;
    margin-top: 15px;
    font-size: 18px;
}
.view_all_btn{
    margin: 20px auto;
    text-align: center;
}
.view_all_btn a{
    font-family: 'OpenSans-Bold';
    display: inline-block;
    background-color: var(--orange);
    color: var(--white);
    border-radius: 8px;
    padding: 12px 48px;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.202);
}
.view_all_btn a:hover{
    background-color: transparent;
    color: var(--orange);
    background-image: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%);
}
/******************************* index_second_section_css *******************************/

/******************************* index_third_section_css *******************************/
.index_third_inner_section{
    display: flex;
    flex-direction: row;
    column-gap: 150px;
}
.girl_img{
    width: 100%;
    max-width: 400px;
}
.about_text h4{
    font-family: 'OpenSans-Bold';
    margin: 0;
    text-transform: uppercase;
    font-size: 14px;
    color: #787878;
    display: inline-block;
    background-color: var(--white);
    box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.2);
    padding: 8px 40px;
    border-radius: 30px;
    position: relative;
}
.index_third_left_section{
    flex-grow: 1;
    flex-shrink: 0;
}
.about_text h4::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 10px;
    height: 10px;
    background-color: var(--orange);
    border-radius: 100%;
    transform: translate(100%, -50%);
}
.about_text h4::after{
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 10px;
    height: 10px;
    background-color: var(--orange);
    border-radius: 100%;
    transform: translate(-100%, -50%);
}
.index_third_right_section h5{
    font-family: 'OpenSans-ExtraBold';
    margin-top: 30px;
    font-size: 48px;
    margin-bottom: 0;
    color: #1d274e;
}
.index_third_right_section h5 span{
    color: var(--orange);
}
.index_third_right_section p{
    font-family: 'OpenSans-Medium';
    color: #787878;
    padding: 30px 0;
}
.checked{
    width: 24px;
    margin-right: 5px;
}
.list_box span{
    font-family: 'OpenSans-Medium';
    color: #1d274e;
}
.list_box{
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
}
/******************************* index_third_section_css *******************************/

/******************************* index_fourth_section_css *******************************/
.index_fourth_section{
    width: 100%;
    height: auto;
    background-color: #292929;
    margin-top: 100px;
    position: relative;
    z-index: 10;
    padding: 80px 0 200px !important;
}
.index_fourth_section::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/map.png");
    background-position: center;
    opacity: 0.1;
    z-index: -1;
}
.index_fourth_inner_section{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 50px;
}
.index_fourth_inner_section h5{
    font-family: 'OpenSans-ExtraBold';
    color: var(--white);
    font-size: 48px;
    padding: 20px 0;
}
.index_fourth_inner_section h5 span{
    color: var(--orange);
}
.index_fourth_inner_section p{
    font-family: 'OpenSans-Medium';
    color: var(--white);
    margin-bottom: 20px;
}
.index_fourth_left_section .third_left_list span{
    color: var(--white);
}
.index_fourth_right_box{
    background-color: #111111;
    border-radius: 30px;
    padding: 40px 50px;
    box-shadow: 0px 0px 20px -10px #000000;
}
.index_black_box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: auto;
    text-align: center;
    gap: 30px;
}
.index_fourth_list_icon{
    width: 70px;
}
.index_fourth_right_box h4{
    font-family: 'OpenSans-Bold';
    text-align: center;
    color: var(--white);
    padding-top: 15px;
    font-size: 18px;
    width: 100%;
    max-width: 150px;
}
.index_fourth_right_section{
    flex-grow: 1;
    flex-shrink: 0;
}
/******************************* index_fourth_section_css *******************************/

/******************************* index_fifth_section_css *******************************/
.index_fifth_section{
    margin-top: -100px;
    position: relative;
    z-index: 10;
}
.index_inner_fifth_section{
    background-color: var(--orange);
    padding: 50px;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.index_inner_left_icon{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border: 1px solid var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.index_inner_left_icon img{
    width: 40px;
}
.index_inner_left_section{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    flex-grow: 1;
    width: 35%;
    flex-shrink: 0;
}
.index_inner_right_icon h4{
    color: var(--white);
    font-size: 16px;
    margin: 0;
}
.index_inner_right_icon h3{
    font-family: 'OpenSans-Bold';
    color: var(--white);
    font-size: 32px;
    margin: 0;
    width: 100%;
    max-width: 200px;
}
.index_inner_right_first_section p{
    font-family: 'OpenSans-Medium';
    color: var(--white);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0;
}
.index_inner_right_section{
    padding-left: 50px;
    border-left: 1px solid #FFFFFF57;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.index_inner_right_section .sign_up_btn a{
    background-color: var(--white);
    color: var(--black);
    transition: all .5s;
}
.index_inner_right_section .sign_up_btn a:hover{
    background-color: #b4260f;
    color: var(--white);
}
.index_inner_right_first_section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
/******************************* index_fifth_section_css *******************************/


/******************************* responsive *******************************/
@media (max-width: 1399.98px){
    .header_section{
        padding: 15px 0;
    }
    .header_menu ul li a{
        margin: 0 30px 0 0;
    }
    .social_icons ul li{
        margin: 0 15px 0 0;
    }
    .hero_content{
        padding: 60px 0;
    }
    .hero_left_text h1{
        font-size: 50px;
    }
    .hero_left_text h2{
        font-size: 34px;
        max-width: 750px;
    }
    .common_space {
        padding: 40px 0;
    }
    .people_section{
        column-gap: 15px;
    }
    .index_third_inner_section{
        column-gap: 100px;
    }
    .index_third_right_section h5{
        font-size: 40px;
        margin-top: 20px;
    }
    .index_third_right_section p{
        padding: 20px 0;
        margin: 0;
    }
    .index_fourth_section{
        margin-top: 80px;
    }
}
@media (max-width: 1199.98px){
    .common_space {
        padding: 30px 0;
    }
    .people_section_box img{
        border-radius: 10px;
    }
    .people_section_box a{
        padding: 6px 10px;
    }
    .view_all_btn{
        margin: 15px auto;
    }
    .view_all_btn a{
        padding: 10px 40px;
        font-size: 14px;
    }
    .index_fourth_inner_section h5{
        font-size: 40px;
        padding: 10px 0;
    }
    .index_fourth_section {
        padding: 80px 0 180px !important;
    }
}
@media (max-width: 991.98px){
    .header_menu{
        position: fixed;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100vh;
        background-color: var(--white);
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        transition: all .5s;
        white-space: nowrap;
    }
    .close_menu{
        display: inline-block;
        background-color: var(--orange);
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        padding: 5px;
        cursor: pointer;
    }
    .header_menu ul{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 50px;
    }
    .header_menu ul li{
        width: 100%;
    }
    .header_menu ul li a{
        color: var(--black);
        display: block;
        padding: 10px;
        border-bottom: 1px solid #ededed;
        width: 100%;
        margin: 0;
    }
    .social_icons{
        display: none;
    }
    .toggle_btn{
        display: inline-block;
    }
    .hero_content{
        flex-direction: column;
        text-align: center;
    }
    .hero_content {
        padding: 40px 0;
    }
    .hero_left_text h1 {
        font-size: 40px;
    }
    .hero_left_text h2 {
        font-size: 28px;
    }
    .hero_right_content{
        padding: 30px 20px;
        width: 100%;
        margin-top: 20px;
    }
    .hero_right_content h3{
        font-size: 24px;
    }
    .common_space {
        padding: 20px 0;
    }
    .index_second_title h3{
        font-size: 28px;
    }
    .people_section{
        grid-template-columns: repeat(3, 1fr);
    }
    .index_third_left_section{
        text-align: center;
    }
    .index_third_inner_section{
        flex-direction: column;
    }
    .index_fourth_inner_section{
        flex-direction: column;
    }
    .index_fourth_section {
        margin-top: 40px;
    }
    .index_fourth_right_section{
        margin-top: 20px;
    }
    .index_black_box{
        gap: 20px;
    }
    .index_fourth_right_box{
        padding: 30px 40px;
        border-radius: 20px;
    }
    .index_inner_fifth_section{
        padding: 20px;
        flex-direction: column;
    }
    .index_inner_left_section{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-bottom: 30px;
    }
    .index_inner_right_icon{
        text-align: center;
        margin-top: 20px;
    }
    .index_inner_right_icon h3{
        max-width: 100%;
        font-size: 26px;
    }
    .index_inner_right_section{
        flex-direction: column;
        padding-left: 0;
    }
    .index_inner_right_first_section{
        flex-direction: column;
    }
    .index_inner_right_first_section p{
        max-width: 100%;
        text-align: center;
        font-size: 14px;
        margin-bottom: 20px;
    }
    .index_inner_right_section{
        border-left: 0;
        border-top: 1px solid #FFFFFF57;
        padding-top: 30px;
    }
}
@media (max-width: 575.98px){
    .header_section {
        padding: 10px 0;
    }
    .logo h3{
        font-size: 18px;
    }
    .social_icons ul li {
        margin: 0 10px 0 0;
    }
    .sign_up_btn a{
        padding: 8px 10px;
        font-size: 12px;
    }
    .hero_left_text h1 {
        font-size: 28px;
    }
    .hero_left_text h2 {
        font-size: 22px;
    }
    .hero_right_content {
        padding: 20px 20px;
    }
    .gender_choice_btn a{
        padding: 10px 26px;
        margin-bottom: 10px;
        border-radius: 8px;
    }
    .index_second_title h3 {
        font-size: 24px;
    }
    .people_section{
        margin-top: 20px;
        grid-template-columns: repeat(2, 1fr);
    }
    .view_all_btn {
        margin: 10px auto;
    }
    .index_third_right_section{
        margin-top: 20px;
    }
    .index_third_right_section h5 {
        font-size: 28px;
        margin-top: 12px;
    }
    .index_third_right_section p{
        font-size: 14px;
        padding: 14px 0;
    }
    .list_box {
        margin-bottom: 6px;
    }
    .index_fourth_inner_section h5{
        font-size: 28px;
    }
    .index_fourth_inner_section p{
        font-size: 14px;
    }
    .index_black_box {
        gap: 10px;
    }
    .index_fourth_right_box {
        padding: 20px 30px;
        border-radius: 20px;
    }
    .index_fourth_list_icon {
        width: 60px;
    }
    .index_fourth_right_box h4{
        font-size: 16px;
    }
    .index_fourth_section {
        padding: 80px 0 130px !important;
    }
}
@media (max-width: 425.98px){
    .hero_content {
        padding: 30px 0;
    }
    .hero_left_text h1 {
        font-size: 24px;
        margin-bottom: 5px;
    }
    .hero_left_text h2 {
        font-size: 18px;
    }
    .hero_right_content{
        margin-top: 10px;
        padding: 12px 20px;
    }
    .hero_right_content h3{
        font-size: 22px;
        margin-bottom: 14px;
    }
    .people_section_box img{
        height: 250px;
    }
    .girl_img {
        max-width: 300px;
    }
    .about_text h4{
        padding: 6px 30px;
    }
    .index_third_right_section h5 {
        font-size: 26px;
    }
    .list_box span{
        font-size: 14px;
    }
    .index_fourth_inner_section h5 {
        font-size: 26px;
    }
}
/******************************* end_responsive_css *******************************/
