*{
    margin: 0;
    padding: 0;
}
html,body{
    font-family: 'OpenSans-Regular';
    width: 100%;
    height: 100%;
}

:root{
    --black : #000000;
    --white : #ffffff;
    --orange:#f94c30;
}

/******************************* common_css *******************************/
h1,h2,h3,h4,h5,h6,ul,p{
    margin: 0;
    padding: 0;
}
.cust_container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}
/******************************* end_common_css *******************************/

/******************************* header_section_css *******************************/
.header_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header_section{
    padding: 20px 0;
    position: relative;
    border-bottom: 1px solid #FFFFFF2E;
}
.header_section::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #111111;
    opacity: 0.2;
}
.header_content{
    position: relative;
    z-index: 1;
}
.logo h3{
    font-family: 'OpenSans-SemiBold';
    color: var(--orange);
    letter-spacing: 3px;
    margin: 0;
}
.header_menu ul{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header_menu ul li{
    list-style-type: none;
}
.header_menu ul li a{
    font-family: 'OpenSans-Medium';
    text-decoration: none;
    color: var(--white);
    text-transform: uppercase;
    margin: 0 40px 0 0;
    transition: all .5s;
}
.header_menu ul li a:hover{
    color: var(--orange);
}
.social_icons ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.social_icons ul li{
    list-style-type: none;
    margin: 0 20px 0 0;
}
.social_icons_img{
    width: 18px;
}
.sign_up_btn a{
    font-family: 'OpenSans-Bold';
    text-decoration: none;
    color: var(--white);
    background-color: var(--orange);
    display: inline-block;
    padding: 10px 22px;
    border-radius: 6px;
    text-transform: uppercase;
    font-size: 14px;
    transition: all .5s;
}
.sign_up_btn a:hover{
    color: var(--white);
    background-color: #b4260f;
}
.toggle_btn{
    width: 30px;
    cursor: pointer;
    display: none;
}
.close_menu{
    width: 30px;
    display: none;
}
/******************************* header_section_css *******************************/

/******************************* hero_section_css *******************************/
.hero_section{
    width: 100%;
    height: auto;
    background-image: url("../img/bg-banner.jpg");
    background-position: center;
    background-size: cover;
}
.hero_content{
    padding: 80px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero_left_text h1{
    font-family: 'OpenSans-Bold';
    text-transform: uppercase;
    color: var(--white);
    font-size: 55px;
    margin: 0;
}
.hero_left_text h2{
    font-family: 'OpenSans-Bold';
    color: var(--white);
    font-size: 38px;
    width: 100%;
    max-width: 800px;
}
.hero_right_content{
    background-color: #0000007A;
    padding: 40px 20px;
    border-radius: 8px;
    text-align: center;
    display: inline-block;
    column-gap: 20px;
}

.gender_choice_btn a{
    font-family: 'OpenSans-Bold';
    display: block;
    border-width: 2px;
    border-radius: 15px;
    padding: 16px 26px;
    color: var(--white);
    text-decoration: none;
    border-style: solid;
    background-color: #191E23;
    font-size: 16px;
    margin-bottom: 20px;
}
.gender_choice_btn a:hover{
    color: var(--white);
}
.gender_choice_btn a:first-child{
    border-color: var(--orange);
}
.gender_choice_btn a:last-child{
    border-color: #0080FF;
    margin-bottom: 0;
}

.hero_right_content h3{
    font-family: 'OpenSans-Bold';
    font-size: 32px;
    color: var(--white);
    margin-bottom: 20px;
}
/******************************* end_hero_section_css *******************************/


/******************************* responsive *******************************/
@media (max-width: 1399.98px){
    .header_section{
        padding: 15px 0;
    }
    .header_menu ul li a{
        margin: 0 30px 0 0;
    }
    .social_icons ul li{
        margin: 0 15px 0 0;
    }
    .hero_content{
        padding: 60px 0;
    }
    .hero_left_text h1{
        font-size: 50px;
    }
    .hero_left_text h2{
        font-size: 34px;
        max-width: 750px;
    }
    
}
@media (max-width: 1199.98px){}
@media (max-width: 991.98px){
    .header_menu{
        position: fixed;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100vh;
        background-color: var(--white);
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        transition: all .5s;
        white-space: nowrap;
    }
    .close_menu{
        display: inline-block;
        background-color: var(--orange);
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        padding: 5px;
        cursor: pointer;
    }
    .header_menu ul{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 50px;
    }
    .header_menu ul li{
        width: 100%;
    }
    .header_menu ul li a{
        color: var(--black);
        display: block;
        padding: 10px;
        border-bottom: 1px solid #ededed;
        width: 100%;
        margin: 0;
    }
    .social_icons{
        display: none;
    }
    .toggle_btn{
        display: inline-block;
    }
    .hero_content{
        flex-direction: column;
        text-align: center;
    }
    .hero_content {
        padding: 40px 0;
    }
    .hero_left_text h1 {
        font-size: 40px;
    }
    .hero_left_text h2 {
        font-size: 28px;
    }
    .hero_right_content{
        padding: 30px 20px;
        width: 100%;
        margin-top: 20px;
    }
    .hero_right_content h3{
        font-size: 24px;
    }
}
@media (max-width: 575.98px){
    .header_section {
        padding: 10px 0;
    }
    .logo h3{
        font-size: 18px;
    }
    .social_icons ul li {
        margin: 0 10px 0 0;
    }
    .sign_up_btn a{
        padding: 8px 10px;
        font-size: 12px;
    }
    .hero_left_text h1 {
        font-size: 28px;
    }
    .hero_left_text h2 {
        font-size: 22px;
    }
    .hero_right_content {
        padding: 20px 20px;
    }
    .gender_choice_btn a{
        padding: 10px 26px;
        margin-bottom: 10px;
        border-radius: 8px;
    }
}
@media (max-width: 425.98px){
    .hero_content {
        padding: 30px 0;
    }
    .hero_left_text h1 {
        font-size: 24px;
        margin-bottom: 5px;
    }
    .hero_left_text h2 {
        font-size: 18px;
    }
    .hero_right_content{
        margin-top: 10px;
        padding: 12px 20px;
    }
    .hero_right_content h3{
        font-size: 22px;
        margin-bottom: 14px;
    }
}
/******************************* end_responsive_css *******************************/
