*{
    margin: 0;
    padding: 0;
}
html,body{
    font-family: 'Poppins-Regular';
    width: 100%;
    height: 100%;
}

:root{
    --black : #000000;
    --white : #ffffff;
}

/******************************* common_css *******************************/
h1,h2,h3,h4,h5,h6,ul,p{
    margin: 0;
    padding: 0;
}
/******************************* end_common_css *******************************/

/******************************* responsive *******************************/
@media (max-width: 1399.98px){}
@media (max-width: 1199.98px){}
@media (max-width: 991.98px){}
@media (max-width: 575.98px){}
@media (max-width: 425.98px){}
/******************************* end_responsive_css *******************************/
