
@font-face {
    font-family: 'OpenSans-Medium';
    src: url('OpenSans-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans-Regular';
    src: url('OpenSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans-SemiBold';
    src: url('OpenSans-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans-Light';
    src: url('OpenSans-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans-Bold';
    src: url('OpenSans-Bold.ttf') format('truetype');
}